<h3>All Gradebook Users</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
				<td><%= user.type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
