<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Gradebook", root_path, class: "brand" %>
			<div id="main-menu" class="nav-collapse collapse">
				<ul id="main-menu-left", class="nav">
					<%= render 'layouts/navbar_links' if signed_in? %>
				</ul>
				<ul id="main-menu-right" class="nav pull-right">
					<%= render 'layouts/signin' %>
				</ul>
			</div>
		</div>
	</div>
</header>